body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    user-select: none;
    -ms-user-select: none;
}

.container {
    background-color: black;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
}

.cell.X::after {
    
    font-size: 3em;
    color: blue;
}

.cell.O::after {
   
    font-size: 3em;
    color: red;
}

.cell.winning {
    background-color: #55ff00;
    transition: 0.5s ease-in-out;
    color: black;
}
.top{
    text-align: center;
}
.draggable {
    width: 40%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    border-radius: 20px;
    
}